


/* Login  *************************************************/
.login-card {
	border-radius: 1rem;
	background-color: #00448b;
}
.btn-login {
	background-color: white;
	color:#00448b;
	border-color: #f41737;
}

.btn-login:hover {
	background-color: white;
	border-color: white;
	color: #00448b;
}


/* Navbar *************************************************/
.nav-color {
	background-color: #00448b;
	color:white;
}

.nav-link {
	--nav-link-color: rgb(214, 53, 53);
	--bs-nav-link-color: #a23872;
	--nav-link-color: #a23872;
}

.link-menu:hover {
	color:rgb(205, 19, 19);
}

.navbar-toggler {
	color:white;
	background-color: #00448b;
}

/* Botões **************************************************/
.div-pesquisar {
	align-self:self-end;
	align-items:baseline;
	vertical-align: bottom;
}

.btn-pesquisar {
	background-color: #00448b;
	border-color: #00448b;
	align-self: center;
	width: 200px;
	height: 38px;
	vertical-align: bottom;
}

.btn-filtro {
	background-color: #00448b;
	border-color: #00448b;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: bottom;
}

.btn-filtro:hover {
	background-color: white;
	border-color: #f41737;
	align-self: center;
	color: #f41737;
	width: 40px;
	height: 38px;
	vertical-align: bottom;
}

.btn-sm.btn-votar {
	background-color: #00448b;
	color:white;
	border-color: #00448b;
	min-width: 84px;
}

.btn-sm.btn-votar:hover {
	background-color: white;
	border-color: #00448b;
	color: #00448b;
	min-width: 84px;
}

.btn-sm.btn-ativar {
	background-color: #046fe1;
	color:white;
	border-color: #046fe1;
	min-width: 84px;
}

.btn-sm.btn-ativar:hover {
	background-color: white;
	border-color: #046fe1;
	color: #046fe1;
	min-width: 84px;
}

/*.btn-sm.btn-alterar {
	background-color: #e19004;
	color:white;
	border-color: #e19004;
	min-width: 84px;
}

.btn-sm.btn-alterar:hover {
	background-color: white;
	border-color: #e19004;
	color: #e19004;
	min-width: 84px;
}*/

/**.btn-sm.btn-visualizar {
	background-color: white;
	color:gray;
	border-color: gray;
	min-width: 84px;
}

.btn-sm.btn-visualizar:hover {
	background-color: gray;
	border-color: gray;
	color: white;
	min-width: 84px;
}

.btn-sm.btn-cancelar {
	background-color: white;
	color:#f41737;
	border-color: #f41737;
	min-width: 84px;
}

.btn-sm.btn-cancelar:hover {
	background-color: #f41737;
	border-color: #f41737;
	color: white;
	min-width: 84px;
}**/


/* Botão Completo Alterar */
.btn-fl-alterar {
	background-color: white;
	color:#e19004;
	border-color: #e19004;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-fl-alterar:hover {
	background-color: #e19004;
	border-color: #e19004;
	color: white;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-cadastrar {
	background-color: #046fe1;
	color:white;
	border-color: #046fe1;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-cadastrar:hover {
	background-color: white;
	border-color: #046fe1;;
	color: #046fe1;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-sm.btn-voltar {
	background-color: white;
	color:#e19004;
	border-color: #e19004;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-sm.btn-voltar:hover {
	background-color: #e19004;
	border-color: #e19004;
	color: white;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-sm.btn-acao-justificar {
	background-color: white;
	color:#00448b;
	border-color: #00448b;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-sm.btn-acao-justificar:hover {
	background-color: #00448b;
	border-color: #00448b;
	color: white;
	min-width: 84px;
	height: 36px;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.btn-acao {
	background-color: #00448b;
	border-color: #00448b;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-acao:hover {
	background-color: white;
	border-color: #f41737;
	align-self: center;
	color: #f41737;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Excluir*/
.btn-excluir {
	background-color: #f41737;
	border-color: #f41737;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-excluir:hover {
	background-color: white;
	border-color: #f41737;
	align-self: center;
	color: #f41737;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Download*/
.btn-download {
	background-color: #00448b;
	border-color: #00448b;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-download:hover {
	background-color: white;
	border-color: #f41737;
	align-self: center;
	color: #f41737;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Alterar*/
.btn-alterar {
	background-color: #e19004;
	border-color: #e19004;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-alterar:hover {
	background-color: white;
	border-color: #e19004;
	align-self: center;
	color: #e19004;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Gerenciar*/
.btn-gerenciar {
	background-color: gray;
	border-color: gray;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-gerenciar:hover {
	background-color: white;
	border-color: gray;
	align-self: center;
	color: gray;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Justificar*/
.btn-justificar {
	background-color: #00448b;
	border-color: #00448b;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-justificar:hover {
	background-color: white;
	border-color: #00448b;
	align-self: center;
	color: #00448b;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

/* Botão Ação Visualizar*/
.btn-visualizar {
	background-color: gray;
	border-color: gray;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-visualizar:hover {
	background-color: white;
	border-color: gray;
	align-self: center;
	color: gray;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-tooltip {
	display:none;
	background-color: gray;
	border-color: gray;
	align-self: center;
	color: white;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
}

.btn-sm.btn-justificar-presente {
	background-color: #00448b;
	color:white;
	border-color: #00448b;
	min-width: 84px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
}

.btn-sm.btn-justificar-presente:hover {
	background-color: white;
	border-color: #00448b;
	color: #00448b;
	min-width: 84px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
}

.btn-sm.btn-justificar-ausente {
	background-color: white;
	color:#f41737;
	border-color: #f41737;
	min-width: 84px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
}

.btn-sm.btn-justificar-ausente:hover {
	background-color: #f41737;
	border-color: white;
	color: white;
	min-width: 84px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
}

/* Botoes Tela inicial *************************************/

.botao-default {
	background-color: #00448b;
	color:white;
}

/* STATUS *************************************************/

.pendente {
	color: #e19004;
}

.ativo {
	color: #046fe1;
}

.cancelado {
	color: #f41737;
}

.finalizado {
	color: gray;
}

.sim {
	color: #046fe1;
}

.não {
	color: #f41737;
}

.justificado {
	color: gray;
}

.texto {
	display:inline;
}

/*********************************************************/
.align-left {
	vertical-align: middle;
	text-align: left;
}
.align-middle {
	vertical-align: middle;
	text-align: left;
}

/* Radio button e Check box ****************************/
.radio-inline {
	vertical-align: middle;
	text-align: left;
	color: #f41737;
	border-color:#00448b;
}

.radio-inline:checked {
	vertical-align: middle;
	text-align: left;
	color: #f41737;
	border-color:#00448b;
	background-color: #f41737;
}



.barra-acao-rodape-fixa {
	border-top: #00448b 1px solid;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #f0f0f0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 15px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.corpo-rodape-fixo {
	padding-bottom: 80px; /* Espaço para a barra fixa */
}

/* *************************************************/

@media screen and (max-width: 1225px) and (min-width: 1045px) {
	.priority-5{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 90%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}

	.texto {
		display:inline;
	}
	.btn-tooltip {
		display:none;
	}
}

@media screen and (max-width: 1399px) and (min-width: 1045px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.texto {
		display:inline;
	}
	.btn-tooltip {
		display:none;
	}
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.texto {
		display:inline;
	}
	.btn-tooltip {
		display:none;
	}
}

@media screen and (max-width: 835px) and (min-width: 721px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.texto {
		display:inline;
	}
	.btn-tooltip {
		display:none;
	}
}

@media screen and (max-width: 720px) and (min-width: 300px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
	.priority-2{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.texto {
		display:none;
	}
	.btn-tooltip {
		display: inline;
	}
	.divisor-default {
		display:none;
	}
}

@media screen and (max-width: 300px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
	.priority-2{
		display:none;
	}
	.btn-pesquisar {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro {
		margin-top: 2px;
		width: 100%;
	}
	.btn-filtro:hover {
		margin-top: 2px;
		width: 100%;
	}
	.texto {
		display:none;
	}
	.btn-tooltip {
		display: inline;
	}
	.divisor-default {
		display:none;
	}
}